.main_body{
    min-height: 700px;
}
.user >*{
    margin-top: 40px;
}
.user .name,.user .status{
    font-family: 'Microsoft YaHei UI';font-size: 30px;font-weight: 500;letter-spacing:5px;
}
.progress-bar{
    min-width: 50px;
}
.user .week_time .mdui-col-xs-3{
    height: 100px;
    color: #00acc1;
    border-radius: 15px;
    font-size: 50px;
    text-align: center;
    line-height: 100px;
}
.user .week_time .dian{
    width: 12.5%;
    color: #00acc1;
    font-size: 100px;
    text-align: center;
    line-height: 75px;
    display: inline;
    height: 20px;
}
.user .week_time{
    margin-bottom: 30px;
}
.footer{
    margin-top: 70px;
    padding-bottom: 50px;
    background: #009fd9;
}